@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
// @import '~roboto-fontface/css/roboto/roboto-fontface.css';
// @import '~roboto-fontface/css/roboto/sass/roboto-fontface.scss';
@import '~font-awesome/css/font-awesome.css';


.btn-cams {
  border: 1px solid #2140b0;
  background-color: #2140b0;
  color: #fff !important;
  text-transform: capitalize;
}

// @import '~babel-polyfill';